@import 'typera';

$typera-base-values: (
  font: (
    families: (
      serif: 'Slabo',
      sans-serif: 'Questrial',
      monospace: 'VT323',
      cursive: 'Lobster'
    ),
    size: 32px
  )
);

$palette: (
  main-colors: (
    primary-color: red,
    aux-color: green,
    secondary-aux-color: yellow,
    accent-color: blue
  ),
  type: accented-analogic
);

@include typera-apply($typera-base-values, $palette);
