@import 'typera';

$typera-base-values: (
  font-face: (
    local: (
      path: '../fonts',
      families: (
        sans-serif: 'Orange Juice'
      )
    ),
    google: (
      families: (
        serif: 'Lora',
        sans-serif: 'Questrial',
        monospace: 'VT323',
        cursive: 'Lobster'
      )
    )
  )
);

$palette: (
  main-colors: (
    primary-color: red,
    aux-color: green,
    secondary-aux-color: yellow,
    accent-color: blue
  ),
  type: accented-analogic
);

@include typera-apply($typera-base-values, $palette);
