@mixin apply-elements($elements) {
  @each $element in $elements {
    #{$element} {
      @extend %#{$element} !optional;
    }
  }
}

@mixin apply-classes($classes) {
  @each $class in $classes {
    .#{$class} {
      @extend %#{$class} !optional;
    }
  }
}

@mixin apply-all($apply-map) {
  @include apply-elements(map-get($apply-map, elements));
  @include apply-classes(map-get($apply-map, classes));
}

@mixin typera-apply($typera-base-values) {
  @include typera-build($typera-base-values);

  $all-elements: ();
  $text-elements: nested-map-get($typera-base-values, selectors elements text);
  $image-elements: nested-map-get($typera-base-values, selectors elements image);
  $other-elements: nested-map-get($typera-base-values, selectors elements other);

  @each $element-list in $text-elements, $image-elements, $other-elements {
    $all-elements: join($all-elements, $element-list);
  }

  $all-classes: nested-map-get($typera-base-values, selectors classes);

  $apply-map: (elements: $all-elements, classes: $all-classes);
  @include apply-all($apply-map);
}
