@function map-merge-nested($options, $custom-options) {
  $options-merged: ();
  @each $custom-option-name, $custom-option-value in $custom-options {
    $custom-option: map-get($custom-options, $custom-option-name);
    $option: map-get($options, $custom-option-name);
    $merged: ();
    @if $option != null {
      @if type-of($option) == map {
        $merged: map-merge-nested($option, $custom-option);
      }
      @else {
        $merged: $custom-option-value;
      }
    }
    @else {
      $merged: $custom-option;
    }
    $options-merged: map-set($options-merged, $custom-option-name, $merged);
  }
  @return map-merge($options, $options-merged);
}
