@import 'type-system/build';

@mixin type-system($type-system-name, $custom-options: ()) {
  $build-options: $typographic-base-values;
  $type-system-options: map-get($type-systems, $type-system-name);

  @each $options in ($type-system-options $custom-options) {
    $build-options: map-merge-nested($build-options, $options);
  }

  @include type-system-build($build-options);
}
