@import 'variables/type-systems';
$web-fonts-protocol: "http";

$base-font-color: darkgray;
$base-border-radius: 3px;
$typographic-base-values: (
  general: (
    spacing: 1.5 * 1em,
    z-index: 0,
    font: (
      size: 1em,
      color: darkgray,
      weight: 100
    ),
    link: (
      color: blue,
      color-hover: darkblue
    ),
    line: (
      height: 1.5,
      height-header: 1.25
    ),
    border: (
      color: black,
      style: solid,
      width: 1px,
      radius: 3px
    )
  ),
  selectors: (
    p: (
      font: (
        size: 1.05,
        weight: 4
      )
    ),
    h1: (
      font: (
        size: 1.8,
        weight: 7
      ),
    ),
    h2: (
      font: (
        size: 1.2,
        weight: 4
      ),
    )
  ),
  extends: (
    type: (

    ),
    date: (
      
    ),
    read-more: (
      display: inline-block,
      font: (
        weight: 7,
        size: .8
      )
    ),
    author: (

    )
  )
);
