@function configure-typera($typera-base-values) {
  $default-base-values: (
    font-face: (
      local: (
        families: (
          sans-serif: 'Orange Juice'
        )
      ),
      google: (
        families: (
          serif: 'Lora',
          sans-serif: 'Questrial',
          monospace: 'VT323',
          cursive: 'Lobster'
        )
      ),
      icons: (
        font-awesome: 'http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0'
      )
    ),
    font: (
      families: (
        serif: 'Lora',
        sans-serif: 'Questrial',
        monospace: 'VT323',
        cursive: 'Lobster'
      ),
      size: 16px
    ),
    base: (
      font: (
        size: 16px,
        family: sans-serif,
        color: #111
      ),
      heading: (
        font: (
        family: cursive
        )
      )
    ),
    baseline: 0.8,
    elements: (
      text: ('a' 'abbr' 'address' 'blockquote' 'cite' 'code' 'del' 'dfn' 'h1' 'h2' 'h3' 'h4' 'h5' 'h6' 'ins' 'kdb' 'mark' 'pre' 'q' 's' 'samp' 'sub' 'sup' 'time' 'var'),
      image: ('img', 'figure', 'figcaption'),
      other: ('hr')
    ),
    classes: 'type' 'date' 'author' 'read-more'
  );

  @return nested-map-merge($default-base-values, $typera-base-values);
}
