@function base-values() {
  $base-values: (
    font-face: (
      local: (
        families: (
        )
      ),
      google: (
        families: (
          serif: 'Lora',
          sans-serif: 'Questrial',
          monospace: 'VT323',
          cursive: 'Lobster'
        )
      )
    ),
    font: (
      families: (
        serif: 'Lora',
        sans-serif: 'Questrial',
        monospace: 'VT323',
        cursive: 'Lobster'
      ),
      size: 16px
    ),
    base: (
      font: (
        size: 16px,
        family: sans-serif,
        color: #111111
      ),
      heading: (
        font: (
        family: cursive
        )
      )
    ),
    selectors: (
      elements: (
        text: ('a' 'abbr' 'address' 'blockquote' 'cite' 'code' 'del' 'dfn' 'h1' 'h2' 'h3' 'h4' 'h5' 'h6' 'ins' 'kbd' 'mark' 'p' 'pre' 'q' 's' 'samp' 'sub' 'sup' 'time' 'var'),
        image: ('img', 'figure', 'figcaption'),
        other: ('hr')
      ),
      classes: 'type' 'date' 'author' 'read-more'
    ),
    palette: (
      main-colors: (
        primary-color: red,
        aux-color: yellow,
        secondary-aux-color: blue,
        accent-color: green
      ),
      base: (
        gray: #777
      ),
      type: accented-analogic
    )
  );

  @return $base-values;
}

@function configure-typera($typera-base-values, $baseline-multiplier, $palette) {
  $typera-base-values: map-set($typera-base-values, palette, $palette);
  $typera-base-values: nested-map-merge(base-values(), $typera-base-values);

  $baseline: nested-map-get($typera-base-values, base font size) * $baseline-multiplier;
  $typera-base-values: map-set($typera-base-values, baseline, $baseline);

  @return $typera-base-values;
}
